/* ==========================================================================
   Color
   ========================================================================== */
html {
	/*Chalk White*/
	/*--color-primary: #fefefa;*/
	--color-primary: #e6e6e6;
	--color-primary-dark: #cbcbc7;
	--color-primary-light: #fff;

	/*Blueprint*/
	--color-secondary: #001484;
	--color-secondary-dark: #000056;
	--color-secondary-light: #4c3db5;

	/*Marker Black*/
	--color-tertiary: #000;
	--color-tertiary-light: #2c2c2c;

	/*Disabled Text*/
	--color-disabled-light: #555555;

	/*Error Red*/
	--color-error: #CE2029;

}

body {
	background-color: var(--color-primary);
}

/* ==========================================================================
   Typography
   ========================================================================== */
html {
	

    --font-primary: 'Open Sans', Arial, sans-serif;
    --font-secondary: 'Permanent Marker', cursive;

    /*Font Sizes*/
    --ratio: 1.1;

    /*larger than normal*/
	--xxxxxlarge-font: calc(var(--xxxxlarge-font) * var(--ratio));
    --xxxxlarge-font: calc(var(--xxxlarge-font) * var(--ratio));
    --xxxlarge-font: calc(var(--xxlarge-font) * var(--ratio));
    --xxlarge-font: calc(var(--xlarge-font) * var(--ratio));
    --xlarge-font: calc(var(--large-font) * var(--ratio));
    --large-font: calc(var(--medium-font) * var(--ratio));
    
	/*normal font size*/
    --medium-font: 1rem;
    
	/*smaller than normal*/
    --small-font: calc(var(--medium-font) / var(--ratio));
    --xsmall-font: calc(var(--small-font) / var(--ratio));
    --xxsmall-font: calc(var(--xsmall-font) / var(--ratio));
    --xxxsmall-font: calc(var(--xxsmall-font) / var(--ratio));
    --xxxxsmall-font: calc(var(--xxxsmall-font) / var(--ratio));
    --xxxxxsmall-font: calc(var(--xxxxsmall-font) / var(--ratio));

	--margin-standard: 2.75rem 0 1rem;

	color: var(--color-tertiary);
	font-family: var(--font-primary);
	font-size: var(--medium-font);
}

a {
	color: var(--color-secondary);
	font-weight: bold;
	text-decoration: none;
}

a:visited {
	color: var(--color-secondary-dark);
}

a:hover, a:focus {
	color: var(--color-secondary-light);
	outline: none;
	text-decoration: underline;
}

a:active {
	color: var(--color-primary-light);
	text-decoration: none;
}

.logo {
	font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6,text {
	font-family: var(--font-primary);
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.15;
	margin: var(--margin-standard);
}

h1{
	font-size: var(--xxxxxlarge-font);
}

h2{
	font-size: var(--xxxxlarge-font);
}

h3{
	font-size: var(--xxxlarge-font);
}

h4{
	font-size: var(--xxlarge-font);
}

h5{
	font-size: var(--xlarge-font);
}

h6{
	font-size: var(--large-font);
}

p {
	line-height: 2rem;
}

ol, ul {
	list-style-position: inside;
	padding-bottom: 0.625rem;
}

ul {
	list-style-type: disc;
}

blockquote {
	font-family: var(--font-secondary);
	font-size: var(--xlarge-font);
	overflow: wrap;
	max-width: 24.375rem;
}

blockquote p {
	/*line-height: 1.75;*/
}

cite {
	font-size: var(--large-font);
	font-style: normal;
}

label {
	font-weight: bold;
}

.logo {
	display: block;
	float: left;
	font-family: var(--font-secondary);
	font-size: 3.125rem;
	margin: auto 1.5625;
	padding-left: 1rem;
	padding-top: 1.25rem;
}

.logo a, .logo a:visited, .logo a:hover, .logo a:focus, .logo a:active {
	color: var(--color-tertiary);
	font-weight: normal;
	text-decoration: none;
}

.featured-text {
	font-size: var(--large-font);
	font-style: italic;
}

.tertiary-text{
	font-size: var(--small-font);
}
.primary-font {
	font-family: var(--font-primary);
}

.secondary-font{
	font-family: var(--font-secondary);
}

@media (min-width: 479px) {
	.logo {
		/*margin: auto 6.25rem;*/
	}
}

@media (min-width: 550px) {
	.logo {
		font-size: 3.125rem;
	}
}

@media (min-width: 1250px) {
	html {
		--ratio: 1.250;
	}

	.logo {
		font-size: 3.25rem;
	}
}

/* ==========================================================================
   Master Layout
   ========================================================================== */
body {
	margin: 0;
}

main {
	margin: auto;
	margin-top: 15rem;
	max-width: 20rem;
	padding: 1rem;

	border-radius: 3.625rem;
	box-shadow: 5px 5px 5px var(--color-primary-dark) inset, -5px -5px 5px var(--color-primary-light) inset;
}

section {
	margin-bottom: 2rem;
}

img {
	max-width: 100%;
}

.bio-pic {
	float: right;
	margin-left: 2rem;
}

@media (min-width: 480px) {
	main {
		margin: auto;
		margin-top: 15rem;
		max-width: 25rem;
		padding: 5rem;
	}
}

@media (min-width: 600px) {
	main {
		margin: auto;
		margin-top: 15rem;
		max-width: 35rem;
	}
}

@media (min-width: 964px) {
	main {
		margin: auto;
		margin-top: 15rem;
		max-width: 60rem;
	}
}

/* ==========================================================================
   Header Component
   ========================================================================== */
header {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*align-items: center;*/
	margin-bottom: 6.25rem;
	padding-top: 2rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
	box-shadow: 2px 2px 6px 0 rgba(0,0,0,.3);
}


/*@media (min-width: 964px){
	header {
		flex-direction: row;
		justify-content: space-around;
	}
}*/
/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 6.25rem;
	padding: 2rem;
}

footer p{
	line-height: 1rem;
}

/* ==========================================================================
   Navigation
   ========================================================================== */
nav li {
	padding: 1.25rem 1.875rem 1.25rem 0;
}

nav a, nav a:hover, nav a:focus, nav a:visited, nav a:active{
	background: linear-gradient(145deg,var(--color-primary-light), var(--color-primary));
	border-radius: .3575rem;
	box-shadow: 5px 5px 20px var(--color-primary-dark), -5px 0px 10px var(--color-primary-light);
	color: var(--color-tertiary);
}

nav a:hover, nav a:focus {
	/*background-color: var(--color-secondary);*/
}

nav a:active {
	/*border: solid .0625rem var(--color-tertiary);*/
	background: linear-gradient(325deg,var(--color-primary-light), var(--color-primary-dark));
	/*box-shadow: -30px -30px 60px var(--color-primary-dark), 30px 30px 60px var(--color-primary);*/
	box-shadow: 0px 0px 0px var(--color-primary-dark), 0px 0px 0px var(--color-primary);
}

.primary-nav {
	/*background-color: var(--color-secondary);*/
	margin: auto 1.5625rem;
}

.primary-nav ul {
	overflow: hidden;
	padding: 1rem;
}

.primary-nav li {
	list-style-type: none;
	/*display: inline;*/
}
.primary-nav a, .secondary-nav a { 
	display: inline-block;
	padding: 0 .625rem;
}

.primary-nav a:hover, .primary-nav a:focus, .secondary-nav a:hover, .secondary-nav a:focus {
	display: inline-block;
	outline: none;
	text-decoration: none;
}

.primary-nav a:after, .secondary-nav a:after {
	border-bottom: .125rem dashed var(--color-tertiary);
	content: '';
	display: block;
	transition: width .5s ease;
	width: 0;
}

.primary-nav a:hover:after, .primary-nav a:focus:after, .secondary-nav a:hover:after, .secondary-nav a:focus:after {
	width: 100%; 
}

.primary-nav .current-page, .primary-nav .current-page:hover, .primary-nav .current-page:focus, .primary-nav .current-page:visited, .primary-nav .current-page:active {
	background-color: transparent;
	color: var(--color-tertiary);
	font-family: var(--font-secondary);
	outline: none;
	text-decoration: none;
}

header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}

header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	padding-top: 3rem;
	position: relative;
	user-select: none;
}

.menu-icon .navicon {
	background: #333;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.menu-icon .navicon:before, .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.menu-icon .navicon:before {
	top: 5px;
}

.menu-icon .navicon:after {
	top: -5px;
}

.menu-btn {
	display: none;
}

.menu-btn:checked ~ .menu {
	max-height: 240px;
}

.menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
}

.secondary-nav {
	/*background-color: var(--color-secondary-dark);*/
}

.secondary-nav ul {
	padding: 0;
	list-style-type: none;
}

.secondary-nav li li {
	padding-left: 1.250rem;
}

.secondary-nav a:active {
	color: var(--color-secondary);
}

.portfolio-nav .next {
	float: right;
}

.portfolio-nav .previous {
	float: left;
}

@media (min-width: 964px) {
	.secondary-nav li {
		display: inline;
	}
}

@media (min-width: 940px) {
  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}

/* ==========================================================================
   Button Links
   ========================================================================== */

/*Hero Button*/
.hero-button, .hero-button:visited {
	background-color: var(--color-primary);
	border: .0625rem solid var(--color-secondary);
	color: var(--color-secondary);
	font-weight: bold;
	padding: 1rem 3rem;
	transition: background-color .5s ease;
}

.hero-button:hover, .hero-button:focus {
	background-color: var(--color-tertiary);
	border: .0625rem solid var(--color-secondary);
	color: var(--color-primary);
	outline: none;
	text-decoration: none;
	transition: background-color .5s ease;
}

.hero-button:active {
	background-color: var(--color-primary-dark);
	color: var(--color-tertiary);
}
/*Normal Button*/

.normal-button, .normal-button:visited {
	/*background-color: var(--color-secondary);*/
	background: linear-gradient(180deg, var(--color-secondary-light), var(--color-secondary));
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	border-radius: .625rem;
	color: var(--color-primary);
	padding: 1rem 1.5rem;
	transition: all .5s ease;
	margin-top: 2rem;
}

.normal-button:hover, .normal-button:focus {
	/*background-color: transparent;*/
	background: linear-gradient(145deg, var(--color-primary-light), var(--color-primary));
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	/*border: .0625rem solid var(--color-secondary);*/
	color: var(--color-secondary);
	outline: none;
	text-decoration: none;
	transition: all .5s ease;
}

.normal-button:active {
	/*background-color: var(--color-secondary-dark);*/
	background: linear-gradient(180deg, var(--color-secondary-dark), var(--color-secondary));
	box-shadow: 0px 0px 0px var(--color-primary-dark), 0px 0px 0px var(--color-primary-light);
	color: var(--color-primary);
}

/*Ghost Button*/

.ghost-button, .ghost-button:visited {
	background-color: transparent;
	border: .0625rem solid var(--color-secondary);
	border-radius: .625rem;
	box-shadow: inset 0 0 0 0 var(--color-secondary);
	color: var(--color-secondary);
	padding: 1rem 1.5rem;
	transition: all .5s ease-out;
}

.ghost-button:hover, .ghost-button:focus {
	box-shadow: inset 0 -6.25rem 0 0 var(--color-secondary);
	color: var(--color-primary);
	outline: none;
	text-decoration: none;
	transition: all .5s ease-out;
}

.ghost-button:active {
	background-color: var(--color-tertiary);
	box-shadow: inset 0 0 0 0 var(--color-secondary);
	color: var(--color-primary);
	transition: all .5s ease-out;
}

/* ==========================================================================
   Accordion
   ========================================================================== */

details {
	/*border: .125rem solid var(--color-tertiary);*/
	background: linear-gradient(145deg, var(--color-primary-light), var(--color-primary));
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	border-radius: .250rem;
	margin-bottom: .125rem;
	transition: height 1s ease;
}

details div {
	margin: 1rem;
}

summary {
	color: var(--color-tertiary);
	padding-left: 1rem;
}

.accordion {
	background-color: var(--color-primary);
	color: var(--color-tertiary);
}


.accordion[open] summary, .accordion summary:focus {
	/*background-color: var(--color-secondary);*/
	background: linear-gradient(145deg, var(--color-secondary-light), var(--color-secondary));
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	border-bottom: .125rem solid var(--color-secondary);
	color: var(--color-primary);
	outline: none;
}

.accordion summary:focus {
	outline: none;
}


@keyframes turn {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(90deg);
	}

}

@keyframes turn-back {
	0% {
		transform: rotate(90deg);
	}

	100% {
		transform: rotate(0deg);
	}

}


/* ==========================================================================
   Modal Component
   ========================================================================== */
dialog {
	animation: unwrap 3s;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	max-width: 16.422875rem;
}

dialog h6, dialog p {
	animation: fade 3.5s;
}

dialog::backdrop {
	animation: fade .10s;
	background-color: rgba(0, 0, 0, .5);
}

@keyframes unwrap{
	0% {
		background-color: var(--color-secondary);
		border-radius: .625rem;
		box-shadow: none;
		height: 8.1875rem;
		width: .0000001rem;
	}

	99% {
		background-color: var(--color-secondary);
		box-shadow: none;
		height: 8.1875rem;
	}

	100% {
		height: 8.1875rem;
		width: 16.422875rem;
	}

}

@keyframes fade {
	0% {
		opacity: 0;
	}

	85% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}

}

/* ==========================================================================
   Form Component
   ========================================================================== */
form {
	/*border: .125rem solid var(--color-secondary-dark);*/
	background: linear-gradient(145deg, var(--color-primary-light), var(--color-primary));
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	border-radius: .625rem;
	padding: 1rem;
}

label {
	margin: .625rem 0 0 .625rem;
}

input, textarea, select {
	border-radius: .625rem;
	display: block;
	margin: 0 .625rem .625rem;
}

input {
	min-height: 2rem;
	min-width: 10rem;
}

button, input[type="submit"] {
	min-height: 0;
	min-width: 0;
}

textarea {
	box-sizing: border-box;
	max-width: 100%;
	min-height: 5rem;
	width: 25rem;
}

button:focus, input:focus, textarea:focus, select:focus {
	border: .250rem solid var(--color-secondary-light);
	outline: none;
}

input[placeholder], textarea[placeholder] {
	padding-left: .3125rem;
}

input[disabled], textarea[disabled], select[disabled] {
	background-color: var(--color-primary-dark);
	color: var(--color-disabled);
}

.helper-text {
	font-size: var(--small-font);
	margin: 0 0 0 .625rem;
}

.helper {
	color: var(--color-tertiary-light);
}

.error {
	border:.125rem solid var(--color-error);
}

button, input[type="submit"] {
	/*background-color: var(--color-secondary);*/
	background: linear-gradient(180deg, var(--color-secondary-light), var(--color-secondary));
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	border-radius: .625rem;
	border: .0625rem solid transparent;
	color: var(--color-primary);
	font-family: var(--font-primary);
	font-size: var(--large-font);
	margin: 0 .625rem .625rem;
	outline: none;
	padding:.5rem 1rem;
	text-transform: uppercase;
	transition: all .5s ease;
}

button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
	/*background-color: transparent;*/
	background: linear-gradient(145deg, var(--color-primary-light), var(--color-primary-dark));
	box-shadow: -30px 30px 60px var(--color-primary-dark), 30px 30px 60px var(--color-primary-light);
	/*border: .0625rem solid transparent;*/
	border-radius: .625rem;
	color: var(--color-secondary);
	transition: all .5s ease;
}

button:active, input[type="submit"]:active {
	/*background-color: var(--color-secondary-dark);*/
	background: linear-gradient(180deg, var(--color-secondary), var(--color-secondary-dark));
	box-shadow: 0px 0px 0px var(--color-primary-dark), 0px 0px 0px var(--color-primary);
	color:var(--color-primary);
	transition: all .5s ease;
}

/* ==========================================================================
   Notifications
   ========================================================================== */
.notification {
	align-items: center;
	background-color: var(--color-primary-dark);
	border: solid .0625rem var(--color-tertiary);
	color: var(--color-tertiary);
	display: flex;
	justify-content: flex-start;
	padding: 0 1.25rem
}

.notification p {
	padding-left: 1.25rem;
}

.notification-error {
	background-color: var(--color-error);
	border: solid .0625rem var(--color-tertiary);
	color: var(--color-primary);
}

.notification-warning {
	background-color: var(--color-tertiary);
	border: solid .0625rem var(--color-tertiary);
	color: var(--color-primary);
}

.notification-success {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}

/* ==========================================================================
   Hero Block
   ========================================================================== */

.hero {
	align-items: center;
	background-image: url(../image/fair-use-image.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding: 10rem 0;
}


/* ==========================================================================
   Cards
   ========================================================================== */
.portfolio-item{
	/*position: relative;*/
}

.info-card {
	/*background-color: rgba(0,0,0,.5);*/
	/*bottom: 0;*/
	background: linear-gradient(145deg,var(--color-primary-light), var(--color-primary));
	border-radius: 3.625rem;
	box-shadow: 30px 30px 60px var(--color-primary-dark), -30px -30px 60px var(--color-primary-light);
	color: var(--color-tertiary);
	/*display: none;*/
	/*left: 0;*/
	padding: 1rem;
	/*position: absolute;*/
	/*right: 0;*/
}

.info-card:active {
	background: linear-gradient(325deg,var(--color-primary), var(--color-primary-light));
	/*box-shadow: -30px -30px 60px var(--color-primary-dark), 30px 30px 60px var(--color-primary);*/
	box-shadow: 0px 0px 0px var(--color-primary-dark), 0px 0px 0px var(--color-primary-light);
}

.info-card h3, .info-card img, .info-card p{
	margin: 1rem;
}

.info-card img {
	max-width: 90%;
	padding-top: 1rem;
}

.info-card p {
	padding-bottom: 1rem;
}

.portfolio-item:hover .info-card{
	/*display: block;*/
}

.portfolio-item img {
	/*height: 100%;*/
	/*width: 100%;*/

}

.call-to-action {
	align-items: center;
	border:  1rem dashed var(--color-secondary-light);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 20rem;
	padding: 1.25rem;
}

.call-to-action img {
	padding-bottom: .625rem;
}

.hide {
	display:none;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.list-portfolio {
	display: grid;
	grid-gap: 6.25rem;
	padding: .625rem;
}

.list-callouts {
	display: grid;
	grid-gap: 1rem;
	margin: .625rem;
}

@media (min-width: 970px) {
	.list-portfolio {
		grid-template-columns: repeat(2,1fr);
	}
}

@media (min-width: 1020px) {
/*	.list-portfolio {
		grid-template-columns: repeat(3,1fr);
	}*/

	.list-callouts {
		grid-template-columns: repeat(3,1fr); 
	}
}

/* ==========================================================================
   Example
   ========================================================================== */
figure {
	align-items: center;
/*	border-left: .15625rem dashed var(--color-tertiary);
	border-right: .15625rem dashed var(--color-tertiary);*/
	display: flex;
	flex-direction: column;
	margin: 6.25rem 0;
	padding: 3rem 2rem;

	border-radius: 3.625rem;
	box-shadow: 5px 5px 5px var(--color-primary-dark) inset, -5px -5px 5px var(--color-primary-light) inset;
}